<form>
    <input 
        type="text" 
        name="todo" 
        required 
        minlength="5" 
        placeholder="Enter task"
        class="block w-full rounded-md p-3 text-[orangered] bg-[#fffdd7] text-4xl outline-none font-size-bold autofocus placeholder-[darkorange]"    
    />
    <button
        type="submit"
        class="block w-full rounded-md text-3xl mt-4 bg-[orangered] text-[#fffdd7] uppercase p-2 hover:bg-[darkorange] transition-all "
    >Add Task</button>
</form>